/* COMMON */
img {
    width: 100%;
}

ul {
    list-style: none;
}

/* HEADER */
.ms_header-top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    background-color: black;
}

.ms_logo-sony {
    width: 70px;
    height: 100%;
    padding-right: .3rem;
}

/* navbar */
.ms_navbar {
    background-color: white;
}

.ms_nav-link {
    padding-top: .5rem;
    display: flex;
}

.ms_nav-link li {
    padding-right: 1.5rem;
}

.ms_nav-link a {
    text-decoration: none;
    padding-right: .2rem;
    color: inherit;
}

.ms_nav-link i {
    color: gray;
    vertical-align: bottom;
    font-size: .9rem;
}

.ms_navbar-collapse {
    flex-grow: 0;
}

.ms_btn-dark {
    background-color: #363636;
    padding: .6rem;
    line-height: .4;
    border-radius: 3rem;
    vertical-align: middle;
}

.ms_search i {
    color: black;
    font-size: 1.3rem;
}

/* MAIN */
/* banner */
.ms_banner {
    width: 100%;
    height: 680px;
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 90px;
    margin-bottom: 2rem;
    color: white;
}

.ms_banner-logo {
    padding-top: 18rem;
    margin-bottom: 2rem;
}

.ms_banner h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.ms_btn-red {
    background-color: #CD4418;
    padding: .8rem;
    line-height: .4;
    border-radius: 3rem;
    vertical-align: middle;
    border-color: transparent;
}

.ms_btn-red:hover {
    background-color: white;
    color: #CD4418;
    border-color: #CD4418;
}

.ms_banner-text {
    margin-bottom: 1.5rem;
}

/* catalogue */
.ms_catalogue {
    margin-bottom: 7rem;
}

.ms_catalogue-icon img {
    border-radius: 1rem;
}

.ms_border-catalogue:hover {
    border: 3px solid #0072ce;
    border-radius: 1rem;
    padding: .1rem;
}

/* console ps5 */
.ms_console-top {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.ms_console-top p {
    margin-bottom: 0;
    color: #0072ce;
}

.ms_section-console span {
    color: gray;
}

.ms_btn-blue {
    background-color: #3569E4;
    padding: .8rem;
    line-height: .4;
    border-radius: 3rem;
    vertical-align: middle;
    border-color: transparent;
}

.ms_btn-blue:hover {
    background-color: white;
    color: #3569E4;
    border-color: #3569E4;
}

@media screen and (min-width:565px) {
    .ms_console-text {
        padding-top: 0;
    }
}

@media screen and (min-width:768px) {
    .ms_console-text {
        padding-top: 5rem;
    }
}

@media screen and (min-width:992px) {
    .ms_console-text {
        padding-top: 15rem;
    }
}

/* playstation 5  */
.ms_ps5-item {
    width: 150px;
    text-align: center;
    opacity: .5;
    margin-bottom: 3rem;
    
}

.ms_active {
    border-bottom: 2px solid #0072ce;
    opacity: 1;
}

.ms_ps5-item:hover {
    border-bottom: 2px solid #0072ce;
    opacity: 1;
}

.ms_playstation5 p {
    display: none;
}

@media screen and (min-width:768px){
    .ms_playstation5 p {
        display: block;
    }
}

/* second banner */
.ms_second-banner {
    width: 100%;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.ms_second-banner .ms_banner-logo {
    padding-top: 4rem;
    width: 200px;
}

.ms_second-banner .ms_btn-red {
    margin-bottom: ;
}